{% extends "cvapp/base.html" %}
{% load i18n %}

{% block title %}{% trans 'CubesViewer' %}{% endblock %}

{% block content_title %}

<div id="header"  class="ui-widget ui-widget-content ui-corner-all">
    <div style="float: left;">
        <a href="/">
        <img id="cv-logo" title="CubesViewer" src="{{ STATIC_URL }}img/cubesviewer-logo.png" />
        </a>
    </div>

    {% if user.is_authenticated %}
    <div style="float: right; margin-top: 4px; margin-right: 4px; text-align: right;">
        Logged in as <b>{{ user.username }}</b><br />
        [<a href="/accounts/logout/">logout</a>]
    </div>
    {% endif %}

    <h1 id="site-name">{% trans 'CubesViewer' %}</h1>

    <div style="clear: both;"></div>
</div>

{% endblock %}

{% block content_footer %}
<div id="footer" style="clear: both; padding-top: 20px;">
	<div style="height: 1px; border-top: 1px solid #DDDDDD; padding-top: 4px;"></div> 
	<div style="float: right; white-space: nowrap;">
		<p style="vertical-align: middle;"> 
		<a href="http://databrewery.org/" target="_blank"><img title="Powered by Databrewery Cubes" style="width: 30px; height: 30px;" src="{{ STATIC_URL }}img/cubes-logo.png" /></a>
		<a href="https://github.com/jjmontesl/cubesviewer" target="_blank"><img title="Powered by CubesViewer" style="width: 65px; height: 30px;" src="{{ STATIC_URL }}img/cubesviewer-logo.png" /></a>
		</p>
	</div>
	<div>
		<p>CubesViewer</p>
	</div>
</div>
{% endblock %}

