{% load url from future %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>

    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

	<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]> <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection"> <!¡[endif]-->

	<link type="text/css" href="{{ STATIC_URL }}js/jqueryui/jquery-ui.min.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cvapp.css" />

	{% block extrastyle %}{% endblock %}

	<script type="text/javascript" src="{{ STATIC_URL }}js/dateformat/dateformat.js"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.cookie.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jqueryui/jquery-ui.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/cvapp.js"></script>

	{% block extrahead %}{% endblock %}

</head>

<body id="{% block body_id %}{% endblock %}">
	<div id="body">

        <table>
            <tr>
                <td>
                    <div>{% block content_title %}{% endblock %}</div>
                </td>
            </tr>
            <tr>
                <td style="width: 100%; vertical-align: top;">
                    {% block content %}{% endblock %}
                </td>
            </tr>
        </table>
        <div>{% block content_footer %}{% endblock %}</div>

	</div>
</body>

</html>
