{% extends "cvapp/base_site.html" %}
{% load i18n %}

{% block extrahead %}
    
<script type="text/javascript" charset="utf-8">

    $(document).ready(function() {

        // Initialize UI
        
        $('input:submit').button();
        $('button').button();
    } );
</script>   

{% endblock %}


{% block content %}

<div style="width: 70%; margin: auto;">
<div class="ui-widget-header ui-widget-content ui-corner-top"><h3><span style="float: right;" class="ui-icon ui-icon-key"></span><span>Login</span></h3></div>
<div class="ui-widget ui-widget-content ui-corner-bottom" style="padding: 20px;">
	
	<form method="post" action="/accounts/login/">
	{% csrf_token %}
	    
	    <div class="form-separator"></div>
	    <div>
            {{ form.username.errors }}
            {{ form.username.label_tag }} {{ form.username }}
        </div>
	    <div>
	       {{ form.password.errors }}
           {{ form.password.label_tag }} {{ form.password }}
	    </div>
	    <div class="form-separator"></div>
	    
	    <div class="form-buttons">
			<input type="submit" value="Login" />
			<input type="hidden" name="next" value="{{ next }}" />
			{% if form.errors %}
	        <div>Your username and password didn't match. Please try again.</div>
	        {% endif %}
		</div>
		
		
		
	</form>
</div>
</div>

{% endblock %}


