<div ng-show="view.grid.data.length > 0">
    <div>
        <div class="cv-chart-container">
            <div class="cv-map-container" style="height: 400px;" ></div>
        </div>
        <div ng-hide="view.getControlsHidden()" style="font-size: 8px; float: right;">
            <a href="" class="cv-chart-height" ng-click="resizeChart(400);">Small</a>
            <a href="" class="cv-chart-height" ng-click="resizeChart(550);">Medium</a>
            <a href="" class="cv-chart-height" ng-click="resizeChart(700);">Tall</a>
        </div>
    </div>
</div>

<div ng-if="gridOptions.data.length == 0" class="alert alert-info" style="margin-bottom: 0px;">
    Cannot present chart: <b>no rows returned</b> by the current filtering, horizontal dimension, and drilldown combination.
</div>

