/*
 * Cubesviewer Application CSS
 * Note that the application is also based on blueprint CSS framework, which is included separately.  
 */

img#cv-logo {
	margin-left: 10px; 
	margin-right: 20px;
	height: 65px;
	width: 135px;
}

h1 {
    font-variant: small-caps;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    color: #8686BF;
    font-size: 20pt;
}

h2 {
    font-variant: small-caps;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    color: #8686BF;
    font-size: 16pt;
}

h3 {
    font-variant: small-caps;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    color: #8686BF;
    font-size: 12pt;
}

p {
	margin-bottom: 8px;
}

div#body {
	margin: 10px;
}

div#header {
	height: 48px;
	padding: 4px;
	margin-bottom: 10px;
}

h1#site-name {
	padding-top: 10px;
	font-weight: bold;
	font-size: 22pt;
	color: #8686BF;
	white-space: nowrap;
}

#footer {
	color: #8686BF;
	font-style: italic;
}

.form-separator {
	height: 6px;
}
.form-label {
	font-weight: bold;
	margin-bottom: 2px;
	width: 200px;
	display: inline-block;
}
.content {
	padding: 2px 8px 2px 8px;	
}
.form-inline .form-field {
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
}

form p {
	margin: 2px 0px 6px 2px;
}
input, textarea, select {
    margin: 2px 0px !important;
}
input.disabled {
	background-color: #eeeeee;
}
/*form label {
	float: left;
	min-width: 160px;
	text-align: right;
	padding-right: 8px;	
}*/
form div {
	margin-top: 3px;
	margin-bottom: 5px;
}
div.form-buttons {
	margin-left: 168px;
}
ul.errorlist {
	margin-left: 168px;
	margin-top: 6px;
	margin-bottom: 0px;
	padding-left: 2px;
}
ul.errorlist li {
	color: red;
	list-style-type: none;
	font-weight: bold;
}

