<div>

    <div ng-if="view.requestFailed" class="alert alert-dismissable alert-danger" style="margin-bottom: 5px;">
        <div style="display: inline-block;"><i class="fa fa-exclamation"></i></div>
        <div style="display: inline-block; margin-left: 20px;">
            An error has occurred. Cannot present view.<br />
            Please try again and contact your administrator if the problem persists.
        </div>
    </div>

    <div ng-if="view.resultLimitHit" class="alert alert-dismissable alert-warning" style="margin-bottom: 5px;">
        <button type="button" class="close" ng-click="view._resultLimitHit = false;" data-dismiss="alert" aria-hidden="true">&times;</button>
        <div style="display: inline-block; vertical-align: top;"><i class="fa fa-exclamation"></i></div>
        <div style="display: inline-block; margin-left: 20px;">
            Limit of {{ cubesService.cubesserver.info.json_record_limit }} items has been hit. <b>Results are incomplete.</b><br />
            <i>Tip</i>: reduce level of drilldown or filter your selection to reduce the number of items in the result.
        </div>
    </div>

</div>
