<div class="cv-view-panel">

    <div class="cv-view-viewmenu">

        <div class="panel panel-primary pull-right" style="padding: 3px;">

            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-primary btn-sm explorebutton"><i class="fa fa-arrow-circle-down"></i></button>
            </div>

           <div class="dropdown m-b" style="display: inline-block; margin-left: 10px;">
              <button class="btn btn-primary btn-sm dropdown-toggle drilldownbutton" type="button" data-toggle="dropdown" data-submenu>
                <i class="fa fa-fw fa-arrow-down"></i> Drilldown <span class="caret"></span>
              </button>

              <ul class="dropdown-menu dropdown-menu-right cv-view-menu cv-view-menu-drilldown">
                <li ><a>Test 1</a></li>
              </ul>
            </div>


            <div class="dropdown m-b" style="display: inline-block;">
              <button class="btn btn-primary btn-sm dropdown-toggle cutbutton" type="button" data-toggle="dropdown" data-submenu>
                <i class="fa fa-fw fa-search"></i> Filter <span class="caret"></span>
              </button>

              <ul class="dropdown-menu dropdown-menu-right cv-view-menu cv-view-menu-cut">
                <li ><a>Test 1</a></li>
                <li ><a>Test 3</a></li>
              </ul>
            </div>


            <div class="dropdown m-b" style="display: inline-block; margin-left: 5px;">
              <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-submenu>
                <i class="fa fa-fw fa-file"></i> View <span class="caret"></span>
              </button>

              <ul class="dropdown-menu dropdown-menu-right cv-view-menu cv-view-menu-view">
                <li ><a>Test 2</a></li>
              </ul>
            </div>

        </div>

    </div>

    <div class="cv-view-viewinfo">

    </div>
    <div class="clearfix"></div>

    <div class="cv-view-viewdata"></div>
    <div class="clearfix"></div>

    <div class="cv-view-viewfooter"></div>

</div>
