<div class="cv-bootstrap" ng-controller="CubesViewerStudioController">

    <div class="cv-gui-panel" >

        <div class="dropdown m-b" style="display: inline-block;">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" data-submenu>
            <i class="fa fa-fw fa-cube"></i> Cubes <span class="caret"></span>
          </button>

          <ul class="dropdown-menu cv-gui-cubeslist-menu">

            <li ng-repeat="cube in cubesService.cubesserver._cube_list | orderBy:'label'" ng-click="studioViewsService.addViewCube(cube.name)"><a>{{ cube.label }}</a></li>

          </ul>
        </div>


        <div class="dropdown m-b" style="display: inline-block;">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" data-submenu>
            <i class="fa fa-fw fa-wrench"></i> Tools <span class="caret"></span>
          </button>

          <ul class="dropdown-menu">

                <li ng-click="showSerializeAdd()"><a tabindex="0"><i class="fa fa-fw fa-code"></i> Add view from JSON...</a></li>

                <div class="divider"></div>

                <li class=""><a href="http://github.com/jjmontesl/cubesviewer/blob/master/doc/guide/cubesviewer-user-main.md" target="_blank"><i class="fa fa-fw fa-question"></i> User Guide</a></li>
                <li class=""><a data-toggle="modal" data-target="#cvAboutModal"><i class="fa fa-fw fa-info"></i> About CubesViewer...</a></li>

            </ul>
        </div>

        <div class="cv-gui-modals">
            <div ng-include="'studio/about.html'"></div>
        </div>

    </div>

    <div class="cv-gui-workspace">

        <div class="row">

        <div ng-repeat="studioView in studioViewsService.views">
            <div class="col-xs-12">
                <div cv-studio-view view="studioView"></div>
            </div>
        </div>

        </div>

    </div>

</div>


