/*
 * Cubesviewer CSS
 */

/*
Ported from blueprint to make sure embedded views work without blueprint:
*/
.cv-view-panel {
	font-size: 13px;
	color: #222;
	/*background: #fff;*/
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	vertical-align: middle;
}

.cv-view-panel li.ui-menu-item {
  list-style: none;
  /*padding-left: 20px;*/
}

.ui-widget {
    font-size: 13px;
}

.cv-view-panel label {
    font-weight: bold;
}

/*
.cv-view-panel div {
	margin: 0px;
	padding: 0px;
}
*/

.cv-view-panel td, th {
    vertical-align: middle;
    text-align: inherit; 
    padding: 2px 2px 2px 2px;
}

.cv-view-panel input[type=checkbox] {
    margin: 0px;
}

/*
Custom Cubesviewer styles
*/

.cv-view-panel input {
    vertical-align: middle;
}

.cv-view-panel h2 {
    font-variant: small-caps;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #8686BF;
    font-size: 16pt;
}

.cv-view-panel h3 {
    font-variant: small-caps;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #8686BF;
    font-size: 12pt;
}

.cv-view-panel th {
    white-space: nowrap;
}

.cv-view-panel label {
	font-weight: inherit;
}

.nobreak {
    overflow: hidden;
    white-space: nowrap;
}

.ui-icon {
    display: inline-block;
    vertical-align: middle;
}
.ui-widget-header {
    padding: 2px 4px 2px 4px;   
}

.ui-jqgrid tr.jqgrow td {
    white-space: nowrap !important;
    /*overflow: hidden;*/
}

a.ui-state-disabled {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
a.ui-state-focus {
    margin-top: -1px !important;
    margin-bottom: -1px !important;
}

/* GUI Elements */

#cubesviewer {
	margin-top: 5px;
}

.cv-gui-panel {
    width: 200px; 
    float: left; 
    padding: 6px;
}

.cv-gui-workspace {
    margin-left: 230px;
    min-height: 320px;
}

div.cv-gui-viewcontainer {
	margin-bottom: 10px; 
}

a.cv-grid-link {
    text-decoration: none;
    color: blue;
}

div.cv-gui-viewcontent {
	padding: 6px !important; 
	overflow: hidden;
}

div.cv-gui-panelsection {
	margin-bottom: 10px;
}

div.cv-view-viewinfo {
	margin-bottom: 10px;
}

.ajaxloader {
	background-image: url(ajax-loader.gif);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 8px;
	display: inline-block;
}

.fixed {
   position: fixed;
}

div.cv-view-info-panel {
	clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(221, 221, 221);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

div.cv-view-dimensionfilter-item {
    white-space: nowrap;
    display: inline-block; 
    width: 46%; 
    overflow: hidden;
    margin-right: 5px;
}

