/*
 * Cubesviewer sites CSS
 * This file must not be included needed if you are embedding cubesviewer in your site, as it
 * contains global CSS selectors.
 */

img.cv-logo {
	margin: 5px;
	height: 40px;
	width: 85px;
}

#cubesviewer {
    margin-top: 5px;
}

.cv-gui-panel {
    /*
    position: fixed;
    border-bottom: 2px solid black;
    background-color: #ffffff;
    left: 0px;
    right: 0px;
    padding: 3px 5px 3px 5px;
    */

    margin-bottom: 5px;
}
