<div class="cv-view-viewinfo-date">
    <div ng-repeat="cut in view.params.datefilters" ng-controller="CubesViewerViewsCubeFilterDateController" ng-init="dimparts = view.cube.cvdim_parts(cut.dimension);" class="label label-secondary cv-infopiece cv-view-viewinfo-cut text-left" style="color: black; background-color: #ffdddd; text-align: left;">
        <span style="max-width: 280px; white-space: nowrap;"><i class="fa fa-fw fa-filter"></i> <b>Filter:</b> {{ dimparts.labelNoLevel }}:</span>

        <!--
        <br class="hidden-sm hidden-md hidden-lg" />
        <i class="fa fa-fw hidden-sm hidden-md hidden-lg" />
         -->

        <div class="cv-datefilter" style="overflow: visible; display: inline-block;">

            <form class="form-inline">

                 <div class="form-group" style="display: inline-block; margin: 0px;">
                    <div class="dropdown" style="display: inline-block;">
                      <button style="height: 20px;" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-submenu>
                        <i class="fa fa-fw fa-calendar"></i> Select <span class="caret"></span>
                      </button>

                      <ul class="dropdown-menu cv-view-menu cv-view-menu-view">
                        <li class="dropdown-header">Manual</li>
                        <li ng-click="custom"><a><i class="fa fa-fw"></i> Custom</a></li>
                        <li class="dropdown-header">Auto</li>
                        <li ng-click="auto-last1m"><a><i class="fa fa-fw"></i> Last month</a></li>
                        <li ng-click="auto-last3m"><a><i class="fa fa-fw"></i> Last 3 months</a></li>
                        <li ng-click="auto-last6m"><a><i class="fa fa-fw"></i> Last 6 months</a></li>
                        <li ng-click="auto-last12m"><a><i class="fa fa-fw"></i> Last year</a></li>
                        <li ng-click="auto-last24m"><a><i class="fa fa-fw"></i> Last 2 years</a></li>
                        <li ng-click="auto-january1st"><a><i class="fa fa-fw"></i> From January 1st</a></li>
                        <li ng-click="auto-yesterday"><a><i class="fa fa-fw"></i> Yesterday</a></li>
                      </ul>
                  </div>
                 </div>

             &rArr;

             <div class="form-group" style="display: inline-block; margin: 0px;">
                <p class="input-group" style="margin: 0px; display: inline-block;">
                  <input type="text" style="height: 20px; width: 80px; display: inline-block;" class="form-control input-sm" uib-datepicker-popup="yyyy-MM-dd" ng-model="dateStart.value" is-open="dateStart.opened" datepicker-options="dateOptionsStart" ng-required="true" close-text="Close" />
                  <span class="input-group-btn" style="display: inline-block;">
                    <button type="button" style="height: 20px;" class="btn btn-default" ng-click="dateStartOpen()"><i class="fa fa-fw fa-calendar"></i></button>
                  </span>
                </p>
            </div>

            <span style="margin-left: 17px; margin-right: 0px;">-</span>

             <div class="form-group" style="display: inline-block; margin: 0px;">
                <p class="input-group" style="margin: 0px; display: inline-block;">
                  <input type="text" style="height: 20px; width: 80px; display: inline-block;" class="form-control input-sm" uib-datepicker-popup="yyyy-MM-dd" ng-model="dateEnd.value" is-open="dateEnd.opened" datepicker-options="dateOptionsEnd" ng-required="true" close-text="Close" />
                  <span class="input-group-btn" style="display: inline-block;">
                    <button type="button" style="height: 20px;" class="btn btn-default" ng-click="dateEndOpen()"><i class="fa fa-fw fa-calendar"></i></button>
                  </span>
                </p>
            </div>

        </form>

        </div>

        <button type="button" ng-click="selectDateFilter(cut.dimension, false)" class="btn btn-danger btn-xs" style="margin-left: 20px;"><i class="fa fa-fw fa-trash"></i></button>


    </div>
</div>

