/*
 * Cubesviewer CSS
 */

/*
 * YUI context css reset
 */
.yui3-cssreset html{color:#000;background:#FFF}.yui3-cssreset body,.yui3-cssreset div,.yui3-cssreset dl,.yui3-cssreset dt,.yui3-cssreset dd,.yui3-cssreset ul,.yui3-cssreset ol,.yui3-cssreset li,.yui3-cssreset h1,.yui3-cssreset h2,.yui3-cssreset h3,.yui3-cssreset h4,.yui3-cssreset h5,.yui3-cssreset h6,.yui3-cssreset pre,.yui3-cssreset code,.yui3-cssreset form,.yui3-cssreset fieldset,.yui3-cssreset legend,.yui3-cssreset input,.yui3-cssreset textarea,.yui3-cssreset p,.yui3-cssreset blockquote,.yui3-cssreset th,.yui3-cssreset td{margin:0;padding:0}.yui3-cssreset table{border-collapse:collapse;border-spacing:0}.yui3-cssreset fieldset,.yui3-cssreset img{border:0}.yui3-cssreset address,.yui3-cssreset caption,.yui3-cssreset cite,.yui3-cssreset code,.yui3-cssreset dfn,.yui3-cssreset em,.yui3-cssreset strong,.yui3-cssreset th,.yui3-cssreset var{font-style:normal;font-weight:normal}.yui3-cssreset ol,.yui3-cssreset ul{list-style:none}.yui3-cssreset caption,.yui3-cssreset th{text-align:left}.yui3-cssreset h1,.yui3-cssreset h2,.yui3-cssreset h3,.yui3-cssreset h4,.yui3-cssreset h5,.yui3-cssreset h6{font-size:100%;font-weight:normal}.yui3-cssreset q:before,.yui3-cssreset q:after{content:''}.yui3-cssreset abbr,.yui3-cssreset acronym{border:0;font-variant:normal}.yui3-cssreset sup{vertical-align:text-top}.yui3-cssreset sub{vertical-align:text-bottom}.yui3-cssreset input,.yui3-cssreset textarea,.yui3-cssreset select{font-family:inherit;font-size:inherit;font-weight:inherit}.yui3-cssreset input,.yui3-cssreset textarea,.yui3-cssreset select{*font-size:100%}.yui3-cssreset legend{color:#000}#yui3-css-stamp.cssreset-context{display:none}

/*
Ported from blueprint to make sure embedded views work without blueprint.
*/

.cv-view-panel {
	font-size: 13px;
	color: #222;
	/*background: #fff;*/
	/*font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;*/
	vertical-align: middle;
	line-height: 1em;
	text-shadow: none;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cv-view-panel a:link {
	text-decoration: none;
}

.cv-view-panel .ui-state-active a,
.cv-view-panel .ui-state-active a:link,
.cv-view-panel .ui-state-active a:visited {
    color: inherit;
}

.cv-view-panel table, .cv-view-panel tr, .cv-view-panel td {
	-webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

.cv-view-panel li.ui-menu-item .cv-gui-panel li.ui-menu-item {
  list-style: none;
  font-weight: normal !important;
  /*padding-left: 20px;*/
}

li.ui-menu-item a {
	display: block;
}

.ui-widget {
    font-size: 13px;
}

.cv-view-panel label {
    font-weight: bold;
}

.ui-slider-range {
    background-color: red;
    background-image: none;
}

/*
.cv-view-panel div {
	margin: 0px;
	padding: 0px;
}
*/

.cv-view-panel td, th {
    vertical-align: middle;
    text-align: inherit;
    padding: 2px 2px 2px 2px;
}

.cv-view-panel input[type=checkbox] {
    margin: 0px !important;
}

.cv-view-panel button {
    margin: 0px 2px 0px 0px;
}

/* Override blueprint highlight */
.cv-view-panel .highlight {background: inherit;}


/*
Custom Cubesviewer styles
*/

.cv-view-panel input {
    vertical-align: middle;
}

.cv-view-panel input {
	border: 1px solid #d0d0d0;
	padding: 0px 2px 0px 2px;
}

.cv-view-panel h1 {
    font-variant: small-caps;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    color: #8686BF;
    font-size: 20pt;
}

.cv-view-panel h2 {f
    font-variant: small-caps;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    color: #8686BF;
    font-size: 16pt;
}

.cv-view-panel h3, .nvtooltip h3 {
    font-variant: small-caps;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    color: #8686BF;
    font-size: 12pt;
}



.cv-view-panel th {
    white-space: nowrap;
}

.cv-view-panel label {
	font-weight: inherit;
}

.nobreak {
    overflow: hidden;
    white-space: nowrap;
}

.ui-icon {
    display: inline-block;
    vertical-align: middle;
}

.ui-jqgrid tr.jqgrow td {
    white-space: nowrap !important;
    /*overflow: hidden;*/
}

a.ui-state-disabled {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
a.ui-state-focus {
    margin-top: -1px !important;
    margin-bottom: -1px !important;
}

/* GUI Elements */

#cubesviewer {
	margin-top: 5px;
}

#cubesviewer a:link {
	text-decoration: none;
}

.cv-gui-panel {
    /*
    width: 200px;
    float: left;
    height: 40px;
    */
    padding: 3px;
    z-index: 9995;
    border: 1px solid white;
    background-color: #ffffff;
    margin-bottom: 5px:
}

.cv-gui-workspace {
    /*margin-left: 230px;*/
    min-height: 320px;
}

div.cv-gui-viewcontainer {
	margin-bottom: 10px;
}

a.cv-grid-link {
    text-decoration: none;
    color: blue;
}

div.cv-gui-viewcontent {
	padding: 3px !important;
	overflow: hidden;
}

div.cv-gui-panelsection {
	margin-bottom: 10px;
}

div.cv-view-viewinfo {
	margin-bottom: 10px;
}

.ajaxloader {
	background-image: url(ajax-loader.gif);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 8px;
	display: inline-block;
}

.fixed {
   position: fixed;
}

div.cv-view-info-panel {
	clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    /*border: 1px solid rgb(221, 221, 221);*/
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

div.cv-view-dimensionfilter-item {
    white-space: nowrap;
    display: inline-block;
    width: 46%;
    overflow: hidden;
    margin-right: 5px;
}

.nvtooltip table {
	margin: 0px ;
}
.nvtooltip table td {
    border: none;
}
div.nvtooltip {
	background-color : rgba(255,255,255,0.9);
}

.infopiece span {
    vertical-align: middle;
}

.sticky-wrapper {
    margin-bottom: 10px;
}
}
